@media screen and (min-width: 1180px) {
    .container {
      display: flex;
      flex-direction: column;
       width: 100%;
       height: 680px;
    }
    #customeLabel{

     color: #000183; font-size: 17px;margin-left: 100px; font-weight: 500
    }
  }