<div class="container">
    

    <mat-label id="customeLabel" ></mat-label>
    
    <br>
    

    <mat-label style="color:#000183; font-size: 17px; font-weight: 500">AddressLine : 
      {{addressValue}} 
    </mat-label>
    
    <br>
    <br>
    
    <mat-label style="color:#000183;font-size: 17px; font-weight: 500">Debit Account Number : 
        {{debitAccountNoValue}} 
    </mat-label>
    
    
    
    <br>
    <br>
    
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">Beneficiary Account Number: 
    
        {{beneficiaryAccountNoValue}} 
    </mat-label>
    
    <br>
    <br>
    
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">BeneficiaryIFSC : 
        {{beneficiaryIFSCValue}} 
    </mat-label>
    
    <br>
    <br>
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">BeneficiaryName : 
        {{beneficiaryNameValue}} 
    </mat-label>
    <br>
    <br>
    
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">MaxLimit : 
    
        {{maxLimitValue}} 
    </mat-label>
    <br>
    <br>
    
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">Status : 
    
        {{statusValue}} 
    
    </mat-label>
    <br>
    <br>
    
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">TransferType : 
    
        {{transferTypeValue}} 
    
    </mat-label>
    <br>
    <br>
    
    
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">BankName : 
    
        {{bankNameValue}} 
    
    </mat-label>
    <br>
    <br>
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">BranchName : 
    
        {{branchNameValue}} 
    
    </mat-label>
    <br>
    <br>
    <mat-label style="color:#000183;font-size: 17px;font-weight: 500">ShortName : 
    
        {{shortNameValue}} 
    
    </mat-label>
    <br>
    <div class="row">
    
    
    <div class="example-header">
        
    
        <button mat-raised-button style="margin-top: 15px;margin-left:10px;width: 90px;" (click)="approve()">Approve</button>
    
        <button mat-raised-button style="margin-top: 15px;margin-left:30px;width: 90px;" (click)="reject()">Reject</button>
    
        <br>
        
               
    </div>
    </div>
    </div>
    