<button type="button" class="close" aria-label="Close" data-dismiss="modal" [mat-dialog-close]="true">

</button>
<br>
<div class="confirm-container">
    <h1 ondragstart="return false;"   mat-dialog-title class="text-center" style="color:#000183 ; font-size: 25px;font-weight: 500;">Reports</h1>
    <mat-dialog-content  ondragstart="return false;"   style="color:#000183">
      <h4>

        <mat-label style="font-weight: 500; line-height: 30px;">
          Beneficiary Name: 
        </mat-label>{{data.benename}}
        <br>

        <mat-label style="font-weight: 500; line-height: 30px;">
          IFSC : 
        </mat-label>{{data.ifsc}}
        <br>
        <mat-label style="font-weight: 500; line-height: 30px;">
          Bank Ref.No.  :
        </mat-label>{{data.bankReferenceNumber}}
        <br>
        <mat-label style="font-weight: 500; line-height: 30px;">
          System Ref.No. :
        </mat-label>{{data.sysRefno}}
        <br>




        
        <mat-label style="font-weight: 500; line-height: 30px;">
          Debit A/c No.  :
        </mat-label>{{data.debitAccount}}
        <br>
        <mat-label style="font-weight: 500; line-height: 30px;">
          Transfer Mode :
        </mat-label>{{data.transferType}}
        <br>
        <mat-label style="font-weight: 500; line-height: 30px;">
            Remarks :
          </mat-label>{{data.remarks}}
          <br>
        
      </h4>
    </mat-dialog-content>
  
    <!-- <div mat-dialog-actions style="float:right;margin:20px; "> -->
      
      <!-- <button mat-button [mat-dialog-close]="{ clicked: 'Ok' }">Delete</button> -->
      <!-- <div align="center">
      <button style="width: 90px;" mat-raised-button [mat-dialog-close]="{ clicked: 'Cancel' }">
        Close
      </button>
  </div> -->
    <!-- </div> -->
  </div>
