::ng-deep lib-mat-select-search *{
    color: #000183;
    }


    @media screen and (max-width:500px) {

      .search {
    
        text-align:center;
      //   padding-left: 180px !important;
        font-weight: 500;
        color: #000183;
      }
    }

    @media screen and (min-width: 500px){

      .mat-row .search {
         text-align: center;
       //   transform:translate(55%);
         padding-right: 35px !important;
         font-weight: 500;
         color: #000183;
       }
     }

     @media screen and (max-width:400px) {
      .example mat-form-field {
        margin-left: 42px;
        width: 238px;
        height: 100px;
      }
    }

       @media screen and (max-width:400px) {
        .example mat-form-field {
          margin-left: 42px;
          width: 238px;
          height: 100px;
        }
      }