<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card p-0"><br><br>
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.19)" size="medium" type="ball-clip-rotate" color="#000183"> </ngx-spinner>

        <form class="form" #merchantdetailsform="ngForm" (ngSubmit)="getStatementList()">
            <div class="row">
                <div class="form-group" class="col-md-6 mb-4">
                    <div class="example-header">

                        <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline"
                            (click)="picker1.open()">
                            <mat-label class="asterix--before">From Date</mat-label>
                            <input readonly  ondragstart="return false;" matInput
                                [formControl]="startDate" [matDatepicker]="picker1" [max]="startToday" name="transstartdate"
                                required={{fromdatevalue}} (ngModelChange)="selectFromDate()">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <span class="mat-error" style="margin-left:70px;  margin-top:-20px ;" *ngIf="fromdatevalue">
                            From date is required
                        </span>
                    </div>
                </div>

                <div class="form-group" class="col-md-6 mb-4">
                    <div class="example-header">
                        <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline"
                            (click)="picker.open()" (click)="clickEndDate()">
                            <mat-label class="asterix--before">To Date</mat-label>
                            <input readonly  ondragstart="return false;" matInput
                                [formControl]="endDate" [min]="startDate.value" name="transenddate"
                                [matDatepicker]="picker" [max]="today" required={{todatevalue}}
                                (ngModelChange)="selectToDate(bbpsRequest.toDate)">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>today</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker [disabled]="disToDate"></mat-datepicker>
                            <mat-error *ngIf="endDate.invalid">
                                To date is required
                            </mat-error>
                        </mat-form-field>
                        <!-- <span class="mat-error" style="margin-left:70px;  margin-top:-20px ;  "
                            *ngIf="todatevalue">
                            {{todate}}
                        </span> -->
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="example-header">
                    <button mat-raised-button style="width: 90px;">Submit</button>
                </div>
            </div>
        </form>
     
        <br>
        <div class="design"  *ngIf="notes">
            <h3> Note : The transaction period must be within 3 months. </h3>
          </div>

          <br>

        <div class="row" *ngIf="table1">
            <div class="form-group" class="col-md-6 mb-4 ">
    
                <div class="example">
    
                    <mat-form-field appearance="outline">
                        <mat-label> Search</mat-label>
                        <mat-icon matPrefix>search</mat-icon>
                        <input autocomplete="off" autocorrect="off" matInput (keyup)="applyFilter($event)" placeholder=" " #input [formControl] = "filter"
                        (keydown)="handleInput($event)" (keydown)="isAlfa($event)"
                                maxlength="30">
                    </mat-form-field>
                </div>
            </div> 

        <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]" disableOptionCentering="true" *ngIf="show ">
        </mat-paginator>
        </div>
        <div *ngIf="show">
        <div class="table-responsive">

            <table mat-table matTableExporter #exporter="matTableExporter" #secondTableSort="matSort" [dataSource]="mySecondTableData" matSort
                class="mat-elevation-z8">

                <!-- <table #secondTable mat-table [dataSource]="mySecondTableData" > -->

                <ng-container matColumnDef="date">
                    <th  mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 30px;">
                        Date & Time
                    </th>
                    <td class="p-3" mat-cell *matCellDef="let element">
                        {{(element.date)}} </td>
                </ng-container>
                <ng-container matColumnDef="merchantID">
                    <th  mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 10px;">
                        Merchant Code 
                    </th>
                    <td class="p-3" mat-cell *matCellDef="let element">
                        {{element.merchantID}} </td>
                </ng-container>

                <ng-container matColumnDef="bank_TransactionId">
                    <th class="pl-sm-1" mat-header-cell *matHeaderCellDef mat-sort-header>
                        Transaction ID
                    </th>
                    <td  mat-cell *matCellDef="let element" style="padding-left: 30px;">
                        {{element.bank_TransactionId}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="referenceId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Reference ID
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.referenceId}}
                    </td>
                </ng-container>
                

                <ng-container matColumnDef="transactionStatus">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Transaction Status
                    </th>
                    <td mat-cell *matCellDef="let element" style="padding-left: 25px;"> 
                        {{element.transactionStatus}}
                    
                    </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th  mat-header-cell *matHeaderCellDef mat-sort-header >
                        Amount (&#8377;)
                    </th>
                    <td  mat-cell *matCellDef="let element"
                        style="justify-content: right; text-align: right;padding-right: 70px;"> {{element.amount}}
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="ErrorMsg">
                    <th  mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by ErrorMsg">
                        Error Msg
                    </th>
                    <td mat-cell *matCellDef="let statement"> {{statement.ErrorMsg}} </td>
                </ng-container>
                <ng-container matColumnDef="ErrorReason">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by ErrorReason">
                        Error Reason
                    </th>
                    <td mat-cell *matCellDef="let statement"> {{statement.ErrorReason}} </td>
                </ng-container> -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                <tr class="mat-row" *matNoDataRow >
                    <td class="mat-cell" class="search"  colspan="6">
                        <br>
                        Record not found
                    </td>
                </tr>

            </table>
        </div>
        <div *ngIf="mySecondTableData.filteredData.length > 0">
            <br>
            <button mat-raised-button  style="width:130px ; float: right; margin-right: 20px; margin-bottom: 10px;" (click)="exportExcel()">
                <!-- <img src="assets/images/icons8-export-excel-22.png" style="margin-left: -25px;"> -->
                Export to excel</button>
        </div>
        </div>

        <!-- <mat-paginator #paginator [pageSizeOptions]="pageSizes" hidePageSize></mat-paginator> -->
    </div>
</div>