<body>


    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="mdc-card p-0"><br><br>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.19)" color="#000183" type="ball-clip-rotate"></ngx-spinner>
            <form #modelChangeForm="ngForm" (ngSubmit)="submit()">
                <div class="row">
                    <div class="form-group" class="col-md-6 mb-4 ">
                        <div class="example-header">

                            <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredMarker">
                                <mat-label class="asterix--before">State</mat-label>

                                <mat-select ondragstart="return false;"  disableOptionCentering
                                    [(ngModel)]="unmap.state" id="state" [formControl]="stateselect" name="state"
                                    (selectionChange)="stateSelected($event.value)" required={{staterequired}}>

                                    <mat-option>
                                        <lib-mat-select-search (keypress)="letterOnly($event)" id="search"
                                            [list]="statelist1" [searchProperties]="['state_name']" [fixOnTop]="true"
                                            [clearSearchInput]="true" (filtered)="statelist2 = $event">
                                        </lib-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngIf="statelist2.length==0"> Record not found</mat-option>


                                    <mat-option value={{stateName.state_name}} *ngFor="let stateName of statelist2">
                                        {{stateName.state_name}}
                                    </mat-option>

                                </mat-select>
                                <!-- <mat-error *ngIf="state.errors && state.invalid && state.touched">
                                State is Required!
                            </mat-error> -->
                            </mat-form-field>
                            <span class="mat-error" style="margin-left:70px ; margin-top: -20px;" *ngIf="staterequired">
                                State is required
                            </span>
                        </div>
                    </div>


                    <div class="form-group" class="col-md-6 mb-4 ">
                        <div class="example-header">
                            <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredMarker"
                                (click)="districtTouch()">
                                <mat-label class="asterix--before">District</mat-label>
                                <mat-select ondragstart="return false;"  disableOptionCentering
                                    [(ngModel)]="unmap.district" id="district" [formControl]="districtselect"
                                    name="district" (selectionChange)="districtSelected($event.value)"
                                    required={{districtrequired}}>

                                    <mat-option>
                                        <lib-mat-select-search (keypress)="letterOnly($event)" id="search"
                                            [list]="districtlist1" [searchProperties]="['district_name']"
                                            [fixOnTop]="true" [clearSearchInput]="true"
                                            (filtered)="districtlist2 = $event">
                                        </lib-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngIf="districtlist2.length==0"> Record not found</mat-option>

                                    <mat-option value={{districtName.district_name}}
                                        *ngFor="let districtName of districtlist2">
                                        {{districtName.district_name}}
                                    </mat-option>

                                </mat-select>
                                <!-- <mat-error *ngIf="district.errors && district.invalid && district.touched">
                                District is Required!
                            </mat-error> -->
                            </mat-form-field>
                            <span class="mat-error" style="margin-left:70px ; margin-top: -20px;"
                                *ngIf="districtrequired">
                                District is required
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group" class="col-md-6 mb-4 ">
                        <div class="example-header">

                            <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredMarker"
                                (click)="iaTouch()">
                                <mat-label class="asterix--before">IA Name</mat-label>

                                <mat-select ondragstart="return false;"  disableOptionCentering
                                    [(ngModel)]="unmap.ia" id="ia" [formControl]="iaselect" name="ia"
                                    (selectionChange)="iaselected($event.value)" required={{iarequired}}>
                                    <mat-option>
                                        <lib-mat-select-search (keypress)="letterOnly($event)" id="search"
                                            [list]="ialist1" [searchProperties]="['name_of_SHPI']" [fixOnTop]="true"
                                            [clearSearchInput]="true" (filtered)="ialist2 = $event">
                                        </lib-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngIf="ialist2.length==0"> Record not found</mat-option>
                                    <mat-option  class="options"   value={{iaName.id}} *ngFor="let iaName of ialist2">
                                        <!-- <span class="bar_content" *ngIf="iaName.name_of_SHPI.length >= 25">
                                            {{iaName.name_of_SHPI}}
                                        </span>
                                        <span *ngIf="iaName.name_of_SHPI.length < 25">
                                            
                                        </span> -->
                                        {{iaName.name_of_SHPI}}
                                    </mat-option>

                                </mat-select>
                                <!-- <mat-error *ngIf="ia.errors && ia.invalid && ia.touched">
                                IA is Required!
                            </mat-error> -->
                            </mat-form-field>
                            <span class="mat-error" style="margin-left:70px ; margin-top: -20px;" *ngIf="iarequired">
                                IA name is required
                            </span>
                        </div>
                    </div>


                    <div class="form-group" class="col-md-6 mb-4 ">
                        <div class="example-header">
                            <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredMarker"
                                (click)="merchantTouch()">
                                <mat-label class="asterix--before">Merchant Name</mat-label>
                                <mat-select ondragstart="return false;"  disableOptionCentering
                                    [(ngModel)]="unmap.merchant" id="merchant" [formControl]="merchantselect"
                                    name="merchant" (selectionChange)="selectedmerchant($event.value)"
                                    required={{merchantrequired}}>

                                    <mat-option>
                                        <lib-mat-select-search (keypress)="letterOnly($event)" id="search"
                                            [list]="merchantlist1" [searchProperties]="['trainers_Name']"
                                            [fixOnTop]="true" [clearSearchInput]="true"
                                            (filtered)="merchantlist2 = $event">
                                        </lib-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngIf="merchantlist2.length==0"> Record not found</mat-option>



                                    <mat-option value={{merchantName.merchantID}}
                                        *ngFor="let merchantName of merchantlist2">
                                        {{merchantName.trainers_Name}}
                                    </mat-option>

                                </mat-select>
                                <!-- <mat-error *ngIf="merchant.errors && merchant.invalid && merchant.touched">
                                Merchant is Required!
                            </mat-error> -->
                            </mat-form-field>
                            <span class="mat-error" style="margin-left:70px ; margin-top: -20px;"
                                *ngIf="merchantrequired">
                                Merchant name is required
                            </span>
                        </div>
                    </div>
                </div>
                <h4 style="text-align: center;">-- OR --</h4>
                <!-- <div class="row"> -->
                <div class="row">
                    <div class="form-group" class="col-md-6 mb-4 ">
                        <div class="example-header">
                            <mat-form-field appearance="outline">
                                <mat-label>Merchant Code
                                </mat-label>
                                <input autocomplete="off" autocorrect="off" onlyAlphanumeric ondragstart="return false;"
                                    toUppercase  ondragstart="return false;" 
                                    [(ngModel)]="merchantCode" id="merchantCode" name="merchantCode"
                                    [formControl]="merchantCodeValueForm" matInput placeholder=""
                                    (input)="merchantIdEnter(merchantCode)" pattern="^[A-Z_a-z]{2,3}[0-9]{6,9}$" minlength="9"
                                    maxlength="11">
                                <mat-error
                                    *ngIf="merchantCodeValueForm.errors?.pattern">{{passwordChange()}}</mat-error>

                                <!-- <mat-error *ngIf="merchantCodeValueForm.errors?.minlength">
                                    Should have minimum 10 characters
                                </mat-error> -->

                            </mat-form-field>

                        </div>
                    </div>
                    <div class="form-group" class="col-md-6 mb-4 ">
                        <div class="example-header">

                            <button mat-raised-button
                                style="margin-top: 15px;margin-left: 130px;width: 90px;">Submit</button>

                        </div>
                    </div>

                </div>

            </form>
            <!-- </div> -->
        </div>
    </div>
    <!-- <div>
        <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="pagination" >
        </mat-paginator>
    </div> -->
    <div class="table-responsive" *ngIf="table1">


        <table mat-table #firstTableSort="matSort" [dataSource]="dataSource1" matSort class="mat-elevation-z8">
           
            <ng-container matColumnDef="state_Name">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.state_Name}} </td>
            </ng-container>

            <ng-container matColumnDef="district_Name">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.district_Name}} </td>
            </ng-container>

            <ng-container matColumnDef="name_of_SHPI">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>IA</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.name_of_SHPI}} </td>
            </ng-container>
           
           
           
           
           
           
           
           
           
           
           
           
            <ng-container matColumnDef="MerchantCode">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header> Merchant Code </th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.merchantID}} </td>
            </ng-container>
            <ng-container matColumnDef="MerchantName">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header> Merchant Name </th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.trainers_Name}} </td>
            </ng-container>
            <ng-container matColumnDef="CurrentModel">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header> Current Model </th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.plan_Type}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
            </tr>
        </table>
    </div>



    <br>
    <br>
    <!-- <form #modelChangeForm="ngForm">
        <div *ngIf="newmodel">
            <div class="row">
                <div class="form-group" class="col-md-6 mb-4 ">
                    <div class="example-header">
                        <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredMarker">
                            <mat-label class="asterix--before">New Model</mat-label>
                            <mat-select required={{modelrequired}} ondragstart="return false;" 
                                name="changemodel" id="modelchanged" disableOptionCentering [formControl]="modelname"
                                (selectionChange)="changeModel($event.value)" [(ngModel)]="selectedmodelname">
                                <mat-option value="Basic">
                                    Basic
                                </mat-option>
                                <mat-option value="Standard">
                                    Standard
                                </mat-option>
                                <mat-option value="Premium">
                                    Premium
                                </mat-option>
                                <ng-container *ngFor="let type of typeList2">
                                    <mat-option *ngIf="this.merchantPlanType!=type.viewValue" value={{type.viewValue}}>
                                        {{type.viewValue}}
                                    </mat-option>
                                </ng-container>



                            </mat-select>
                            <mat-error *ngIf="modelrequired">
                                New model is required
                            </mat-error>
                        </mat-form-field>
                        <span class="mat-error" style="margin-left:70px ; margin-top: -20px;" *ngIf="modelrequired">
                            Model is required
                          </span>

                    </div>
                </div>
                <div class="form-group" class="col-md-6 mb-4 ">
                    <div class="example-header">

                        <button style="width: 135px;margin-top: 20px; margin-left: 130px;" mat-raised-button
                            (click)="changeModelRequest()">Change Model</button>

                    </div>
                </div>
            </div>

        </div>
    </form> -->

    <div *ngIf="newrequest">
        <button id="ModelChangeNewRequestID" name="ModelChangeNewRequestName" (click)="toggleDisplay()"
            mat-raised-button (click)="newRequest(merchantPlanType)"
            style="width:120px ; float: right; margin-right: 20px; margin-bottom: 10px;">New Request
            <!-- <mat-icon style="margin-left: -12px;">add_circle_outline</mat-icon> New Request -->

        </button>
    </div>
    <br>
    <br>
    <br>
    <!-- <div >
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="pagination2" >
                </mat-paginator>
            </div> -->
    <div class="table-responsive" *ngIf="table2">





        <table mat-table #secondTableSort="matSort" [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="state">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>
            <ng-container matColumnDef="district">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.district}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="ia">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>IA ID</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.ngo_id}} </td>
            </ng-container> -->
            <!-- <ng-container matColumnDef="merchantCode">
                        <th class="p-3" mat-header-cell *matHeaderCellDef  mat-sort-header> Merchant Code </th>
                        <td class="p-3" mat-cell *matCellDef="let element"> {{element.merchantID}} </td>
                    </ng-container> -->
            <!-- <ng-container matColumnDef="merchantName">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header> Merchant Name </th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.merchantName}} </td>
            </ng-container> -->
            <ng-container matColumnDef="currentModel">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>Previous Model</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.currentModel}} </td>
            </ng-container>
            <ng-container matColumnDef="newModel">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>New Model</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.newModel}} </td>
            </ng-container>
            <ng-container matColumnDef="requestedBy">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>Requested By</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{unmapRequestBy}} </td>
            </ng-container>


            <ng-container matColumnDef="requestedDate">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>Requested Date & Time</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.requestedDate}} </td>
            </ng-container>
            

            <ng-container matColumnDef="updatedBy">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>Updated By</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{unmapApprovedBy}} </td>
            </ng-container>

            <ng-container matColumnDef="updatedDate">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>Updated Date & Time</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.updatedDate}} </td>
            </ng-container>

           
 <ng-container matColumnDef="Status">
                <th class="p-3" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td class="p-3" mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Approve/Reject </th>
                <td mat-cell *matCellDef="let element">

                   

                 


                    <span
                    *ngIf="this.signInNavResponse.responseContent.roles[0]  == 'Super Admin' || this.signInNavResponse.responseContent.roles[0] == 'Admin' ">
                       
                    <span *ngIf="element.status =='Pending' || element.status =='' ">
                        <mat-icon matTooltip="Approve" style="margin-left: 30%;" (click)="Approved()">task_alt</mat-icon>
                        <mat-icon matTooltip="Reject" style="margin-left:15px ;" (click)="rejected()">cancel</mat-icon>
                      </span>

                      <span *ngIf="element.status =='Rejected' || element.status =='Approved' ">
                        <mat-icon style="margin-left: 30%; cursor: not-allowed;color: #8c8c8f;">task_alt</mat-icon>
                        <mat-icon style="margin-left: 15px; cursor: not-allowed;color: #8c8c8f;">cancel</mat-icon>
                      </span>


                    
                    <!-- <mat-icon matTooltip="Approve" style="margin-left: 30%;"(click)="Approved()">task_alt</mat-icon>
                        
                        <mat-icon matTooltip="Reject" style="margin-left:15px ;" (click)="rejected()">cancel</mat-icon> -->
                    


                    </span>

                    <span
              *ngIf="this.signInNavResponse.responseContent.roles[0] != 'Super Admin' && this.signInNavResponse.responseContent.roles[0] != 'Admin' ">
              <mat-icon style="margin-left: 30%; cursor: not-allowed;color: #8c8c8f;">task_alt</mat-icon>
              <mat-icon style="margin-left:15px ;cursor: not-allowed;color: #8c8c8f;">cancel</mat-icon>
            </span>


                    <!-- <ng-template #another >
                        <mat-icon  style="margin-left: 30%; cursor: not-allowed;color: #8c8c8f;">task_alt</mat-icon>                    
                        <mat-icon  style="margin-left:15px ;cursor: not-allowed;color: #8c8c8f;">cancel</mat-icon>
                    </ng-template> -->




                    
                    <!-- <mat-icon matTooltip="Approve" style="margin-right: 10px;" (click)="Approved()"
                        *ngIf="approved">task_alt</mat-icon>

                  


                    <mat-icon matTooltip="Reject" style="margin-left:5px ;" (click)="rejected()"
                        *ngIf="rejecteds">cancel</mat-icon> -->







                </td>





            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
</body>