


<!-- gokul -->
<!-- <div> -->
   
  <!-- <img draggable="false"   style="width: 185px; margin-left: 10px;margin-top: 46px;" src="assets/images/web loader 2Artboard 12x.png" alt="logo" > -->

    <!-- <form #formControl="ngForm">
        <img draggable="false" id="image"   src="assets/images/MoneyPurse_Logo2.svg" alt="logo" >
       
        <br>
      
       

        
    </form>
</div>

<div    id="dot" >
  <div class="snippet" data-title="dot-flashing">
    <div class="stage">
      <div class="dot-flashing"></div>
    </div>
  </div>
</div> -->



<!-- <durai> -->

<!-- <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card p-0">

<div class="parent"  >
  <img draggable="false" src="assets/images/web loader 2Artboard 1 copy2x.png" alt="logo" >
</div>
<div class="parent">
  <p><img class="value" draggable="false"   src="assets/images/MoneyPurse_Logo2.svg" alt="logo" ></p>
</div>
<div class="parent">
  
      <div class="snippet" data-title="dot-flashing">
          <div class="stage">
            <div class="dot-flashing"></div>
          </div>
     </div>
</div>

  </div>
</div> -->

<!-- </durai> -->



<div class="container"   oncontextmenu="return false" ondragstart="return false;" >
  <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.19)" size="medium" type="ball-clip-rotate" color="#000183">
    </ngx-spinner> -->
  <img class="moneypurse" draggable="false" src="assets/images/MoneyPurse_Logo2.svg" alt="logo">
  <!-- <img draggable="false"     oncontextmenu="return false"    style="width: 63px; margin-left: 37px;" src="assets/images/MoneyPurse_Logo2.svg" alt="logo" > -->

  <!-- <img draggable="false"   oncontextmenu="return false"         src="../assets/images/MP_Theme.png" alt="theme"  style="margin-left: -60px;"> -->
  <br>
  <!-- <h1 align="center" style="color: #000183;font-weight: 500; font-size: 19px;margin-right: 10px;"> The Lastmile partner </h1> -->
  <div class="col-3">
    <div class="snippet" data-title="dot-flashing">
      <div class="stage">
        <div class="dot-flashing"></div>
      </div>
    </div>
  </div>
</div>