
//background
// .mdc-card{
//   margin-left: 28%;
//   // margin-right: 40%;
//   // padding: 30%;
//   margin-top:130px;
//   width: 500px;
//   height: 350px;
// }


//icon

// .example-header .mat-form-field mat-icon{
//   color: rgb(96, 96, 96);
// }

.example-header .mat-form-field:focus {
  color: #000183;

}

.mat-form-field .mat-icon{
  color:#000183;
}

 .mat-form-field.mat-form-field-invalid .mat-icon{
  color:#ff0000 ;
}

//input box
.example-header .mat-form-field {
   margin-left: 4px;
  width: 80%;

}

.example-header .mat-form-field mat-label {
  margin-left: 2%;
  font-size: 17px;
  font-weight: 500;
//  color: #000183;
}

.example-header .mat-form-field input {
  padding-left: 8px;
  margin-bottom: 3px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  opacity: 0;
  color:#000183 ;
}

::ng-deep .mat-form-field:not(mat-focused) .mat-form-field-label {
  color: #000183 !important;
}

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #000183 !important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #ff0000 !important;
}

.mat-error {
  color: #ff0000;
  font-weight: 500;
  font-size: 12px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::ng-deep .custom-tooltip {
  font-size: 13px;
}

