
button{
    background-color: #000183;
    color: white;
    width: 90px;
    margin-right: 10px;
  }
  
  p{
    font-size: 14;
    font-weight: 400;
  }
  
  .material-icons {
  display:flex;
  flex-direction:row;
  justify-content:center;
  color: #000183;
  vertical-align: middle;
  }
  
  mat-icon {
  display:flex;             
  align-self:center; 
  }
  
  button:focus,
  button:active:focus,
  button.active:focus {
    outline: none !important;
    outline-style: none !important;
  }