<!-- <div class="container"> -->

  <body>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.19)" size="medium" type="ball-clip-rotate"   color="#000183"> </ngx-spinner>

    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
      <!-- <div class="mdc-card p-0"> -->


      <table class="table table-hoverable" >
        <tr height="50px">
          <th class="text-center" style="color: #000183 ; font-size: 17px; font-weight: 650;">Balance</th>
        </tr>
        <!-- <tbody> -->
        <tr height="50px">

          <td class="text-center" style="color: #000183; font-size: 14px;">
            <span style="margin-left: -40px;">&nbsp; &nbsp;
              &#8377;</span>
            {{Balance }} 
          </td>
          <!-- </tbody> -->
        </tr>
      </table>





























    </div>

  </body>
