<html>

<body>
    <script src="../assets/js/preloader.js"></script>
    <div class="body-wrapper" spellcheck="false">

        <div>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.19)" color="#000183" type="ball-clip-rotate">
            </ngx-spinner>
        </div>
        <div class="main-wrapper">
            <div class="page-wrapper full-page-wrapper d-flex align-items-center ">
                <main class="auth-page">
                    <div class="mdc-layout-grid" style="margin-top:-5%;">
                        <div class="mdc-layout-grid__inner">
                            <div
                                class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet">
                            </div>
                            <div
                                class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-6-tablet">
                                <div class="mdc-card">
                                    <form class="form" [formGroup]="formGroup" (ngSubmit)="resetPassword()">
                                        <div class="text-center">
                                            <img draggable="false" matPrefix class="input-icon"
                                                oncontextmenu="return false"src="assets/images/MoneyPurse_Logo2.svg"
                                                style="width: 40%;"><br>



                                                
                                        </div><br>
                                        <div class="example-header text-center">
                                            <mat-form-field appearance="outline"
                                                [hideRequiredMarker]="hideRequiredMarker">
                                                <mat-label class="asterix--before">Old Password</mat-label>
                                                <input autocomplete="off" autocorrect="off" noSpace
                                                    ondragstart="return false;"  (blur)='onBlur()'
                                                    [type]="hide1 ? 'password' : 'text'" matInput placeholder=""
                                                    required [(ngModel)]="passwordReset.oldPassword" maxlength="16"
                                                    id="oldPassword" name="oldPassword" [formControl]="oldPassword">
                                                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off'
                                                    : 'visibility'}}</mat-icon>

                                                <mat-error *ngIf="oldPassword.invalid">{{passwordError()}}</mat-error>

                                            </mat-form-field>
                                        </div>
                                        <br>

                                        <div class="example-header text-center">

                                            <mat-form-field appearance="outline"
                                                [hideRequiredMarker]="hideRequiredMarker">
                                                <mat-label class="asterix--before">New Password</mat-label>
                                                <input autocomplete="off" autocorrect="off" noSpace
                                                    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$#!%*?&]).{8,15}"
                                                    ondragstart="return false;"  matInput
                                                    [type]="hide ? 'password' : 'text'" placeholder="" required
                                                    [(ngModel)]="passwordReset.password" formControlName="password"
                                                    maxlength="16" id="password" name="password"
                                                    [formControl]="password">

                                                    <mat-icon [matTooltipHideDelay]="300000" matSuffix matTooltipClass="custom-tooltip" 
                                matTooltip="Password should contain: 1)Minimum 8 characters 
                                2)Atleast 1 uppercase and 1 lowercase letter 3)Atleast 1 special character 4)Minimum 1 numeric
                                5)Max length of password should be 16" (mouseenter)="$event.stopImmediatePropagation()" (onmouseover)="$event.stopImmediatePropagation()"
                                (mouseleave)="$event.stopImmediatePropagation()" (click)="tooltip.toggle()" #tooltip="matTooltip" style="cursor: pointer;">help</mat-icon>


                                                <!-- <mat-icon matSuffix matTooltipClass="custom-tooltip" matTooltip="Password should contain: 1)Minimum 8 characters 2)Atleast one uppercase and one lowercase 
                            letter 3)Atleast one special character 4)Minimum 1 numeric
                            5)Max length of password should be 16">help</mat-icon> -->

                                                <mat-error *ngIf="password.invalid">{{newPasswordError()}}</mat-error>

                                            </mat-form-field>
                                        </div>
                                        <br>
                                        <div class="example-header text-center">

                                            <mat-form-field appearance="outline"
                                                [hideRequiredMarker]="hideRequiredMarker">
                                                <mat-label class="asterix--before">Confirm Password</mat-label>
                                                <input autocomplete="off" autocorrect="off" noSpace
                                                    ondragstart="return false;"  matInput
                                                    placeholder="" [type]="hide2 ? 'password' : 'text'" required
                                                    [(ngModel)]="passwordReset.confirmPassword" maxlength="16"
                                                    formControlName="confirm_password" id="confirmPassword"
                                                    name="confirmPassword" [formControl]="confirmPassword">

                                                    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' :
                                                        'visibility'}}</mat-icon>

                                                <mat-error *ngIf="f.confirm_password.errors?.confirmedValidator">
                                                    Confirm password does not match
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="confirmPassword.invalid">{{confirmPasswordError()}}</mat-error>

                                            </mat-form-field>
                                        </div>
                                        <br>
                                        <div
                                            class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                        </div>

                                        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                        </div><br>
                                        <div class="example-header">

                                            <div class="text-center">
                                                <button mat-raised-button color="primary"
                                                    style="width: 130px; background-color: #000183;margin-left:5px; ">
                                                    <!-- <mat-icon
                                                        style="margin-left: -8px;">cached</mat-icon>&nbsp;Reset</button> -->
                                                        Reset</button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div
                                class="stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-1-tablet">
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <!-- plugins:js -->
    <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../../assets/js/material.js"></script>
    <script src="../../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>

</html>