<!-- <div class="mdc-layout-grid__inner"> -->



    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="mdc-card p-0"><br><br>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.19)" size="medium" type="ball-clip-rotate" color="#000183"> </ngx-spinner>
    
            <form #ResetPasswordForm="ngForm" (ngSubmit)="sendResetEmail()">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <div class="row">
                            <div class="form-group" class="col-md-6 mb-4 ">
                                <div class="example-header">
                                    <mat-form-field appearance="outline" [hideRequiredMarker]="hideRequiredMarker">
                                        <mat-label class="asterix--before">Email ID</mat-label>
                                        <input  autocomplete="off" autocorrect="off"  ondragstart="return false;"  (blur)='onBlur()' matInput
                                          placeholder="" #input [formControl]="emailID" [(ngModel)]="email" id="email" name="email"
                                          noSpace  (ngModelChange)="email=$event?.toLowerCase()||''">
                
                                        <mat-error *ngIf="emailID.invalid">{{getEmailError()}}</mat-error>
                                      </mat-form-field>
                                </div>
                            </div>
                            <div align="center" class="form-group" class="col-md-6 mb-4">
                                <button type="submit" mat-raised-button
                              class="a1" style="width:90px;margin-top: 16px;">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
    