<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card p-0"><br><br>
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.19)" size="medium" type="ball-clip-rotate" color="#000183">
    </ngx-spinner>
    <form class="form" #transactionDetailsForm="ngForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example-header">
            <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline">
              <mat-label>State</mat-label>
              <mat-select required={{statevalue}} disableOptionCentering [(ngModel)]="transactionDetails.state_name"
                id="state_name" name="state_name" (selectionChange)=getDistrictName($event.value)
                [formControl]="resetState">

                <mat-option>
                  <lib-mat-select-search id="search" (keypress)="letterOnly($event)" [list]="statelist1"
                    [searchProperties]="['state_name']" [fixOnTop]="true" [clearSearchInput]="true"
                    (filtered)="statelist2 = $event">
                  </lib-mat-select-search>
                </mat-option>
                <mat-option *ngIf="statelist2.length == 0">Record not found</mat-option>



                <mat-option value={{state.state_name}} *ngFor="let state of statelist2">
                  {{state.state_name}}
                </mat-option>
              </mat-select>

              <!-- <mat-error *ngIf="state.errors?.required">
                State is required!
              </mat-error> -->
            </mat-form-field>
            <!-- <span class="mat-error" style="margin-left:70px;  margin-top:-20px ;" *ngIf="statevalue">
              State is required
            </span> -->
          </div>
        </div>
        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example-header">

            <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline" (click)="districtTouch()">


              <mat-label>District</mat-label>
              <mat-select required={{districtvalue}} disableOptionCentering
                [(ngModel)]="transactionDetails.district_name" id="district_name" name="district_name"
                (selectionChange)=iaList($event.value) [formControl]="resetDistrict">


                <mat-option>
                  <lib-mat-select-search id="search" (keypress)="letterOnly($event)" [list]="districtlist1"
                    [searchProperties]="['district_name']" [fixOnTop]="true" [clearSearchInput]="true"
                    (filtered)="districtlist2 = $event">
                  </lib-mat-select-search>
                </mat-option>
                <mat-option *ngIf="districtlist2.length == 0">Record not found</mat-option>


                <mat-option value={{district.district_name}} *ngFor="let district of districtlist2">
                  {{district.district_name}}
                </mat-option>
              </mat-select>


              <!-- <mat-error *ngIf="district.errors?.required">
                District is required!
              </mat-error> -->

            </mat-form-field>



            <!-- <span class="mat-error" style="margin-left:70px;  margin-top:-20px ; " *ngIf="districtvalue">
              District is required
            </span> -->
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example-header">

            <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline" (click)="iaTouch()">
              <mat-label>IA Name</mat-label>

              <mat-select disableOptionCentering [(ngModel)]="transactionDetails.id" id="name_of_SHPI"
                name="name_of_SHPI" (selectionChange)="getMerchantName($event.value)" [formControl]="resetIa">

                <mat-option>
                  <lib-mat-select-search id="search" (keypress)="letterOnly($event)" [list]="ialist1"
                    [searchProperties]="['name_of_SHPI']" [fixOnTop]="true" [clearSearchInput]="true"
                    (filtered)="ialist2 = $event">
                  </lib-mat-select-search>
                </mat-option>


                <mat-option *ngIf="ialist2.length == 0">Record not found</mat-option>


                <mat-option   class="options"  value={{ianame.id}} *ngFor="let ianame of ialist2">
                  {{ianame.name_of_SHPI}}
                  <!-- <span class="bar_content" *ngIf="ianame.name_of_SHPI.length >=25">
                    
                  </span>

                  <span *ngIf="ianame.name_of_SHPI.length <25">
                    {{ianame.name_of_SHPI}}
                  </span> -->

                </mat-option>


              </mat-select>
              <!-- <mat-error *ngIf="name_of_SHPI.errors && name_of_SHPI.invalid && name_of_SHPI.touched">
                IA is Required!
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>
        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example-header">
            <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline" (click)="animatorTouch()">
              <mat-label>Merchant Name</mat-label>
              <mat-select disableOptionCentering [(ngModel)]="transactionDetails.trainers_Name" id="trainers_Name"
                name="trainers_Name" (selectionChange)="getMerchantID($event.value)" [formControl]="resetMerchant">

                <mat-option>
                  <lib-mat-select-search id="search" (keypress)="letterOnly($event)" [list]="merchantlist1"
                    [searchProperties]="['trainers_Name']" [fixOnTop]="true" [clearSearchInput]="true"
                    (filtered)="merchantlist2 = $event">
                  </lib-mat-select-search>

                </mat-option>
                <mat-option *ngIf="merchantlist2.length == 0">Record not found</mat-option>

                <mat-option value={{merchant.merchantID}} *ngFor="let merchant of merchantlist2">
                  {{merchant.trainers_Name}}
                </mat-option>

              </mat-select>
              <!-- <mat-error *ngIf="trainers_Name.errors && trainers_Name.invalid && trainers_Name.touched">
                Merchant is Required!
              </mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example-header">


            <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline" (click)="picker1.open()">
              <mat-label>From Date</mat-label>
              <input readonly  ondragstart="return false;" (dateChange)="orgValueChange()" matInput
                [matDatepicker]="picker1" [formControl]="startDate" [max]="startToday" (ngModelChange)="selectFromDate($event)">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1>

              </mat-datepicker>

            </mat-form-field>

          </div>
        </div>

        <div class="form-group" class="col-md-6 mb-4">
          <div class="example-header">
            <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline" (click)="picker2.open()"
              (click)="clickEndDate()">
              <mat-label>To Date</mat-label>
              <input readonly  ondragstart="return false;" matInput [min]="startDate.value"
                [matDatepicker]="picker2" [formControl]="endDate" [max]="today" (ngModelChange)="selectToDate($event)">
              <mat-datepicker-toggle matSuffix [for]="picker2">
                <mat-icon matDatepickerToggleIcon>today</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker [disabled]="disToDate" #picker2></mat-datepicker>
              <mat-error *ngIf="endDateValid">
                Transaction end date invalid
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>

      <h4 style="text-align: center; color:#000183">-- OR --</h4>
<br>

      <div class="row">
        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example-header">
            <mat-form-field [hideRequiredMarker]="hideRequiredMarker" appearance="outline">
              <mat-label>Merchant Code</mat-label>
              <input onlyAlphanumeric  ondragstart="return false;" matInput disableOptionCentering
                [(ngModel)]="merchantCodeValue" id="merchantCode" name="merchantCode" placeholder="" #input  noSpace
                (input)="merchantCodeEnter(merchantCodeValue)" pattern="^[A-Z_a-z]{2,3}[0-9]{6,9}$" toUppercase
                autocomplete="off" autocorrect="off" maxlength="11" minlength="9" [formControl]="merchantCodeValueForm">
              <!-- <mat-error *ngIf="merchantCode.errors && merchantCode.invalid && merchantCode.touched">
                Merchant Code is Required!
              </mat-error> -->
              <mat-error *ngIf="merchantCodeValueForm.errors?.pattern">{{passwordChange()}}</mat-error> 

              <!-- <mat-error *ngIf="merchantCodeValueForm.errors?.minlength">
                Should have minimum 10 characters
              </mat-error> -->




            </mat-form-field>
          </div>
        </div>
        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example-header">

            <div class="text-center">
              <!-- <button mat-raised-button color="warn" style="margin-right:10px ;">Cancel</button> -->
              <button (click)="toggleDisplay()" mat-raised-button style="margin-top:20px ;width:90px;">Submit</button>
            </div>
          </div>
        </div>
      </div>


    </form>
    <div *ngIf = "monthperiod">


    <div class="design" >
      <h3> Note : The transaction period must be within 3 months. </h3>
    </div>
  </div>
    
    <br>
    <!-- <div *ngIf="notes" id="notes">
      <h3> Note : The transaction period must be within 3 months. </h3>
  </div> -->

    <div *ngIf="isShow">
      <!-- <div>
        <h3 style=" margin-bottom: -20px; color: #000183;font-weight: 600;" *ngIf="pagination1">Service Type Transaction
          Details Table:</h3>
      </div> -->

      <div *ngIf="table1">
        <div class="form-group" class="col-md-6 mb-4 ">
          <div class="example">

            <mat-form-field appearance="outline">
              <mat-label> Search</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput maxlength="30"  [formControl]="filter" (keydown)="handleInput($event)"
              (keydown)="isAlfa($event)" (keyup)="applyFilter($event)" placeholder="" #input autocomplete="off" autocorrect="off">
            </mat-form-field>
          </div>
        </div>
        <div>
          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="pagination1"></mat-paginator>

        </div>

        <div>


          <!-- <h3 style="margin-bottom:5px; color: #000183;font-weight: 600;margin-left: 10px;" *ngIf="pagination1">Service
            Type
            Transaction Details Table</h3> -->

            <h3 style="margin-bottom:5px; color: #000183;font-weight: 600;margin-left: 10px;" *ngIf="pagination1">Service
              Type
              Transaction Details Table <span *ngIf="isCurrentDateData">- for  {{this.convRegDate}}</span><span *ngIf="isMerchantData" style="font-weight: 500;">- for Merchant {{isMerchantId}}</span></h3>




        </div>
        <div class='table-responsive'>

          <table mat-table #firstTableSort="matSort" [dataSource]="dataSource" matSort class="mat-elevation-z8"
            matTableExporter #exporter="matTableExporter">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            <ng-container matColumnDef="header-row-first-group">
              <th style="width: 10%;" class="parent-row" mat-header-cell *matHeaderCellDef [attr.rowspan]="2"> Service Type</th>
              <td mat-cell *matCellDef="let element"> {{element.Service}} </td>
            </ng-container>


            <ng-container matColumnDef="Service">
              <th mat-header-cell class="parent-row" *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Service  </th>
              <td mat-cell *matCellDef="let element"> {{element.Service}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Total_Transactions">
              <th mat-header-cell class="child-row" *matHeaderCellDef mat-sort-header>No.of Transactions </th>
              <td mat-cell *matCellDef="let element"> {{element.Total_Transactions}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Total_Amount">
              <th mat-header-cell class="child-row" style="margin-left: 50px;" *matHeaderCellDef mat-sort-header> Amount &nbsp; &nbsp;
                (&#8377;)</th>
              <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.Total_Amount}} &nbsp; </td>
            </ng-container>

            <ng-container matColumnDef="Success_Transactions">
              <th mat-header-cell class="child-row" *matHeaderCellDef mat-sort-header> No.of Transactions </th>
              <td mat-cell *matCellDef="let element"> {{element.Success_Transactions}} </td>
            </ng-container>


            <ng-container matColumnDef="Success_Percent">
              <th mat-header-cell class="child-row" *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Percentage
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(%)</th>
              <td mat-cell *matCellDef="let element"> {{element.Success_Percent}} </td>
            </ng-container>



            <!-- Symbol Column -->
            <ng-container matColumnDef="Total_SuccAmount">
              <th mat-header-cell class="child-row" *matHeaderCellDef mat-sort-header> Amount &nbsp; &nbsp;(&#8377;)</th>
              <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.Total_SuccAmount}} &nbsp;
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="totalIncentive">
                    <th mat-header-cell *matHeaderCellDef> totalIncentive </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalIncentive}} </td>
                  </ng-container> -->

            <ng-container matColumnDef="Total_Incentive">
              <th mat-header-cell class="parent-row" *matHeaderCellDef [ngStyle]="{'display': 'none'}" mat-sort-header> Total Incentive
                &nbsp;(&#8377;)
              </th>
              <td style="text-align: right;" mat-cell *matCellDef="let element"> {{element.Total_Incentive}} &nbsp;
              </td>
            </ng-container>

            <!-- Header row first group -->
            <!-- <ng-container matColumnDef="header-row-first-group">
                  <th mat-header-cell *matHeaderCellDef 
                      style="text-align: center;"
                      [attr.rowspan]="2"> 
                    Service 
                  </th>
                </ng-container> -->


            <!-- Header row second group -->
            <ng-container matColumnDef="header-row-second-group">
              <th mat-header-cell class="parent-row" *matHeaderCellDef [attr.colspan]="2"> Total</th>
            </ng-container>

            <ng-container matColumnDef="header-row-third-group">
              <th mat-header-cell class="parent-row" *matHeaderCellDef [attr.colspan]="3"> Success</th>
            </ng-container>

            <ng-container matColumnDef="header-row-fourth-group">
              <th mat-header-cell class="parent-row" *matHeaderCellDef [attr.rowspan]="2"> Total Incentive &nbsp;(&#8377;)</th>
            </ng-container>
            <tr mat-header-row
              *matHeaderRowDef="['header-row-first-group', 'header-row-second-group','header-row-third-group','header-row-fourth-group']">
            </tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="p-1" *matNoDataRow>
              <td class="mat-cell" class="search" colspan="4">
                <br>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Record not found

              </td>
          </tr>
          </table>

         

        </div>
        <br>
        


        <div *ngIf="dataSource.filteredData.length > 0">
          <button mat-raised-button  style="width:130px ; float: right; margin-right: 20px; margin-bottom: 10px;" (click)="exportExcel()">
            <!-- <img src="assets/images/icons8-export-excel-22.png" style="margin-left: -25px;"> -->
            Export to excel</button>
    
        </div>
      </div>
    </div>











    <br>
    <br>



    <div *ngIf="isShow">
      <!-- <div>
        <h3 style="margin-bottom:-20px; color: #000183; font-weight: 600;" *ngIf="pagination2">Merchant Transaction
          Details Table:</h3>
      </div> -->
     

      <div *ngIf="table2">
        <div class="form-group" class="col-md-6 mb-4 ">


          <div class="example1">

            <mat-form-field appearance="outline">
              <mat-label> Search</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput maxlength="30" [formControl]="filter" (keydown)="handleInput($event)"
              (keydown)="isAlfa($event)" (keyup)="applyFilters($event)" placeholder="" #input autocomplete="off" autocorrect="off">
            </mat-form-field>

            
          </div>
        </div>
        <br>

        <div>
          <mat-paginator #paginatorNew [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="pagination2"></mat-paginator>
        </div>

        <div>
          <!-- <h3 style="margin-bottom:5px; color: #000183; font-weight: 600;margin-left: 10px;" *ngIf="pagination2">
            Merchant Transaction
            Details Table</h3> -->
            <h3 style="margin-bottom:5px; color: #000183; font-weight: 600;margin-left: 10px;" *ngIf="pagination2">
              Merchant Transaction
              Details Table <span *ngIf="isCurrentDateData">- for  {{this.convRegDate}}</span></h3>


            
        </div>


        <div class='table-responsive'>

          <table matTableExporter #exporter="matTableExporter" mat-table #secondTableSort="matSort"
            [dataSource]="memberdataSource" matSort class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
            <ng-container matColumnDef="header-row-first-group">
              <th class="p-3" mat-header-cell class="parent-row1" *matHeaderCellDef [attr.rowspan]="2"> Merchant Code </th>
              <td mat-cell *matCellDef="let merchant"> {{merchant.Merchant_Code}} </td>
            </ng-container>
            <!-- Position Column -->
            <!-- <ng-container matColumnDef="service">
                      <th mat-header-cell *matHeaderCellDef> Service </th>
              
                    <td mat-cell *matCellDef="let element"> {{element.service}} </td>
                  </ng-container> -->

            <ng-container matColumnDef="Merchant_Code">
              <th mat-header-cell class="parent-row1" *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Service Type</th>
              <td mat-cell *matCellDef="let merchant" style="cursor: pointer;">
                
                <u>{{merchant.Merchant_Code}}</u>
                 </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="Total_Transactions">
              <th mat-header-cell class="child-row1" *matHeaderCellDef mat-sort-header> No.of Transactions </th>
              <td mat-cell *matCellDef="let merchant"> {{merchant.Total_Transactions}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Total_Value">
              <th mat-header-cell class="child-row1" *matHeaderCellDef mat-sort-header> Amount &nbsp; &nbsp; (&#8377;)</th>
              <td style="text-align: right;" mat-cell *matCellDef="let merchant"> {{merchant.Total_Value}} &nbsp; </td>
            </ng-container>

            <ng-container matColumnDef="Total_SuccessTrans">
              <th mat-header-cell class="child-row1" *matHeaderCellDef mat-sort-header> No.of Transactions </th>
              <td mat-cell *matCellDef="let merchant"> {{merchant.Total_SuccessTrans}} </td>
            </ng-container>


            <ng-container matColumnDef="Success_Percent">
              <th mat-header-cell class="child-row1" *matHeaderCellDef mat-sort-header>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Percentage
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(%)</th>
              <td mat-cell *matCellDef="let merchant"> {{merchant.Success_Percent}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="Success_Value">
              <th mat-header-cell class="child-row1" *matHeaderCellDef mat-sort-header> Amount &nbsp; &nbsp; (&#8377;)</th>
              <td style="text-align: right;" mat-cell *matCellDef="let merchant"> {{merchant.Success_Value}} &nbsp;
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="totalIncentive">
                      <th mat-header-cell *matHeaderCellDef> totalIncentive </th>
                      <td mat-cell *matCellDef="let element"> {{element.totalIncentive}} </td>
                    </ng-container> -->

            <ng-container matColumnDef="Incentive">
              <th mat-header-cell class="parent-row1" *matHeaderCellDef [ngStyle]="{'display': 'none'}"> Total Incentive &nbsp;(&#8377;)
              </th>
              <td style="text-align: right; " mat-cell *matCellDef="let merchant"> {{merchant.Incentive}} &nbsp; </td>
            </ng-container>


            <!-- Header row second group -->
            <ng-container matColumnDef="header-row-second-group">
              <th mat-header-cell class="parent-row1" *matHeaderCellDef [attr.colspan]="2"> Total</th>
            </ng-container>

            <ng-container matColumnDef="header-row-third-group">
              <th mat-header-cell class="parent-row1" *matHeaderCellDef [attr.colspan]="3"> Success</th>
            </ng-container>

            <ng-container matColumnDef="header-row-fourth-group">
              <th mat-header-cell class="parent-row1" *matHeaderCellDef [attr.rowspan]="2"> Total Incentive &nbsp;(&#8377;)</th>
            </ng-container>
            <tr mat-header-row
              *matHeaderRowDef="['header-row-first-group', 'header-row-second-group','header-row-third-group','header-row-fourth-group']">
            </tr>
            <tr mat-header-row *matHeaderRowDef="merchantdisplayedColumns"></tr>
            <tr (click)="selectedRows(row.Merchant_Code)" mat-row *matRowDef="let row; columns: merchantdisplayedColumns;"></tr>

            <tr class="p-1" *matNoDataRow>
              <td class="mat-cell" class="search" colspan="4">
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Record not found

              </td>
          </tr>
          </table>

         
        </div>
        <br>
        
        <div *ngIf="memberdataSource.filteredData.length > 0">
          <button mat-raised-button  style="width:130px ; float: right; margin-right: 20px; margin-bottom: 10px;" (click)="exportExcel1()">
            <!-- <img src="assets/images/icons8-export-excel-22.png" style="margin-left: -25px;"> -->
            Export to excel</button>
    
        </div>

      </div>
    </div>
    <br>